.formation-container h1{
  @include h (var(--black));
}
.formation-p{
  padding: 2rem;
  max-width: 84rem;
  margin-left: auto;
  margin-right: auto;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
}
@media screen and (min-width: 48em) { /* eq 768px */
  .formation-p {
    padding: 0;
  }
}


.slideshow-container{
  @include sliders()
}

.formation-list-card{
  display:grid;
  grid-template-columns: repeat(1, 1fr);
  padding-left: 2rem;
  padding-right: 2rem;
  column-gap: 3.2rem;
  margin-left: auto;
  margin-right: auto;
  margin-right: 0;
  margin-bottom: 4rem;
  @include card(62.2rem,60.8rem,4rem)
}
@media screen and (min-width: 48em) { /* eq 768px */
  .formation-list-card {
    padding-left: 0;
    padding-right: 0;
    margin-right: auto;
    grid-template-columns: repeat(2, 1fr);
  }
}
.formation-list-card h3{
  margin-bottom: 4rem;
}



   /* Slideshow container */
   .slideshow-container {
    box-sizing:border-box;
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
      display: none;
    }
  
  /* Next & previous buttons */
  .prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* The dots/bullets/indicators */
  .buttons-slide > div:nth-child(1),
  .buttons-slide > div:nth-child(5) {
    display: inline;
   }
  .containers-buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
  }
  .buttons-slide{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .button-slide {
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    margin: 0 2px;
    background-color: white;
    border: 1px solid var(--orange);
    color: var(--orange);
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.6s ease;
    padding: auto;
    margin: auto;
    font-size: 1.6rem;
  }
  
  .active, .button-slide:hover {
    background-color: var(--orange);
    color: white;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

