/* Container */
header{
    display: flex;
    align-items: center;
    background-color: var(--orange);
    width: 100%;
    min-height: 10rem;
    position: fixed;
    z-index: 9999;
    border-bottom: .01px solid white;
}
.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}
@media screen and (min-width: 80em) {
    .header-container{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

/* Logo */

.logo span{
    font-family: Raleway, sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
}

/* Navigation */
.toggle-menu {
    padding: 1rem auto;
    margin-bottom: 1rem;
    color: var(--orange);
    text-transform: uppercase;
    background-color: white;
    border: 0;
    border-radius: 2rem;
    transition: .3s;
}

.toggle-menu:hover,
.toggle-menu:focus
.toggle-menu:active {
    background-color: white;
}


.menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--orange);
    transition: .5s;
    list-style: none;
    margin-bottom: 0px;
}

.menu[hidden] {
    margin-top: 0;
    display: block;
    visibility: hidden;
    transform: translateX(-100%);
}

.menu:not([hidden]) {
    transform: translateX(0%);
    margin-top: 0;
    border-bottom: 1px solid white;
}

.menu-link {
    font-size: 2rem;
    padding: 1rem 2rem;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    line-height: 1;
    color: #fff;
    text-decoration: none;
    transition: .3s;

    border: none;
    background-color: var(--orange);
    width: 100%;
    text-align: left;
}

.menu-link:hover,
.menu-link:focus {
    background-color: #fff;
    color: var(--orange);
}
.menu-active
{
    background-color: #fff;
    color: var(--orange);
}

@media screen and (min-width: 62em) { 
    .toggle-menu {
        display: none;
    }

    .menu,
    .menu[hidden] {
        display: flex;
        visibility: visible;
        position: static;
        transform: translateX(0%);
    }
}