.modules-hero-container{
    background-image: url(../img/Photo-5_resultat.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
}
.modules-hero-container h1{
    @include h(white);
    padding-top: 17.2rem;
    padding-bottom: 17.2rem;
}
.modules-container{
    min-height: 48rem;
}
@media screen and (min-width: 48em) { /* eq 768px */
    .modules-container {
        max-width: 51rem;
        margin-right: auto;
        margin-left: auto;
    }
}
@media screen and (min-width: 62em) { /* eq 992px */
    .modules-container {
        min-width: 73.4rem;
    }
}

@media screen and (min-width: 80em) { /* eq 1200px */
    .modules-container {
        min-width: 84rem;
    }
}
.modules-container p{
    font-weight: 600;
    padding-top: 4rem;
    padding-bottom: 4rem;
}