:root{
    --orange:#FD7E37;
    --dark-grey:#707070;
    --black:#331100;
    --grey:#00000080;
    --light-grey:#00000029;
    --brown:#663014;
}
:any-link{
    color: white;
    text-decoration: none;
}